{% extends "base.html" %}
{% block content %}
        <h3>Location</h3>
        <p>
          Data is stored at $XDG_CONFIG_HOME/tod.cfg. This defaults to:
        </p>
        <table class="table is-bordered is-striped is-hoverable mt-2">
          <thead>
            <tr>
              <th>Platform</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Linux </td>
              <td> ~/.config/tod.cfg </td>
            </tr>
            <tr>
              <td> Mac </td>
              <td> ~/Library/Application Support/tod.cfg </td>
            </tr>
            <tr>
              <td> Windows </td>
              <td> %APPDATA%\tod.cfg on Windows, which expands to C:\Users\username\AppData\Roaming\tod.cfg on most systems </td>
            </tr>
          </tbody>
        </table>

        <h3>Example</h3>
        <p>
          Configuration is stored in JSON format
        </p>
        <div class="is-centered">
          <div class="is-half">
            <article class="message">
              <div class="message-body">
                {<br>
                  &nbsp&nbsp"bell_on_failure": true,<br>
                  &nbsp&nbsp"bell_on_success": false,<br>
                  &nbsp&nbsp"disable_links": false,<br>
                  &nbsp&nbsp"last_version_check": "2024-06-19",<br>
                  &nbsp&nbsp"timezone": "Canada/Pacific",<br>
                  &nbsp&nbsp"verbose": false<br>
                  &nbsp&nbsp ...and many more<br>
                }<br>
              </div>
            </article>
          </div>
        </div>

        <h3>Values</h3>
        <table class="table is-bordered is-striped is-hoverable mt-2">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default Value</th>
              <th>Possible Values</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for item in configuration %}
                <tr>
                  <td> {{ item.name }} </td>
                  <td> {{ item.data_type }} </td>
                  <td> {{ item.default_value}} </td>
                  <td> {{ item.possible_values}} </td>
                  <td> {{ item.description }} </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
