{% extends "base.html" %}
{% block content %}
      <p>
      An unofficial Todoist CLI program. Takes simple input and dumps it in your inbox or another project. Takes advantage of natural language processing to assign due dates, tags, etc. Designed for single-tasking in a world filled with distraction.
      </p>
      <p class="mt-3">
      The quickest way to get started is to install using Cargo

{% include "code-block-start.html" %}
cargo install tod
{% include "code-block-stop.html" %}

      </p>
{% endblock %}
