{% extends 'base.html' %}
{% block content %}
      <p>
      An unofficial Todoist CLI program. Takes simple input and dumps it in your inbox or another project. Takes advantage of natural language processing to assign due dates, tags, etc. Designed for single-tasking in a world filled with distraction.
      </p>
      <p class="mt-3">
      The quickest way to get started is to install using Cargo

      <div class="is-centered mt-3">
        <div class="is-half">
          <article class="message">
            <div class="message-body">
              cargo install tod
            </div>
          </article>
        </div>
      </div>
      </p>
{% endblock %}
