{% extends "base.html" %}
{% block content %}
<h3>Discovering the commands</h3>
<p>
  You can access help using the help flag.
</p>

{% include "code-block-start.html" %}
<p class="has-text-primary">
  > tod -h
</p>
<p class="mt-2">
  A tiny unofficial Todoist client<br>
  <br>
  Usage: tod [OPTIONS] &lt;COMMAND&gt;<br>
  <br>
  Commands:<br>
  &nbsp&nbspproject&nbsp&nbsp(p) Commands that change projects<br>
  &nbsp&nbsptask&nbsp&nbsp&nbsp&nbsp&nbsp(t) Commands for individual tasks<br>
  &nbsp&nbsplist&nbsp&nbsp&nbsp&nbsp&nbsp(l) Commands for multiple tasks<br>
  &nbsp&nbspconfig&nbsp&nbsp&nbsp(c) Commands around configuration and the app<br>
  &nbsp&nbsphelp&nbsp&nbsp&nbsp&nbsp Print this message or the help of the given subcommand(s)<br>
  <br>
  Options:<br>
  &nbsp&nbsp-v, --verbose&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Display additional debug info while processing<br>
  &nbsp&nbsp-c, --config &lt;CONFIG&gt;&nbsp&nbspAbsolute path of configuration. Defaults to $XDG_CONFIG_HOME/tod.cfg<br>
  &nbsp&nbsp-h, --help&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     Print help<br>
  &nbsp&nbsp-V, --version&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     Print version<br>
</p>
{% include "code-block-stop.html" %}

<h3>Usage Examples</h3>

{% include "code-block-start.html" %}
<br> # Quickly create a task
<br> tod task quick-add --content Buy more milk today
<br> 
<br> # Quickly create a task with aliases
<br> tod t q -c Buy more milk today
<br> 
<br> # You can use Todoist syntax with the quickadd (q) command
<br> # See https://todoist.com/help/articles/use-task-quick-add-in-todoist-va4Lhpzz for more details
<br> tod t q -c Buy more milk today // with a description
<br> 
<br> # creates a task named "Clean my room" due on Tuesday at 1pm, with Priority of 2
<br> tod t q -c Clean my room on tuesday at 1pm p2
<br> 
<br> # creates a task in the eBay project, an errands label, priority of 2, due tomorrow.
<br> tod t q -c Ship UPS Package #eBay @errands p2 tomorrow
<br>
<br># Create a new task (you will be prompted for content and project)
<br>tod task create
<br>
<br># Create a task in a project
<br>tod task create --content "Write more rust" --project code
<br>
<br># Import your projects
<br>tod project import
<br>
<br># Get the next task for a project
<br>tod task next
<br>
<br># Go through tasks with an interactive prompt, completing them in order of importance one at a time.
<br>tod list process
<br>
<br># Complete the last "next task" and get another
<br>tod task complete && tod task next
<br>
<br># Get all tasks for work
<br>tod list view --project work
{% include "code-block-stop.html" %}

<h3>Shell script examples</h3>

<p>Sort, schedule, prioritize, and process tasks</p>

{% include "code-block-start.html" %}
  echo "" && \
  echo "=== EMPTYING INBOX ===" && \
  tod project empty --project inbox && \
  echo "" && \
  echo "=== SCHEDULING DIGITAL ===" && \
  tod list schedule --project digital && \
  echo "" && \
  echo "=== SCHEDULING PHYSICAL ===" && \
  tod list schedule --project physical && \
  echo "" && \
  echo "=== PRIORITIZING DIGITAL ===" && \
  tod list prioritize --project digital && \
  echo "" && \
  echo "=== PRIORITIZING PHYSICAL ===" && \
  tod list prioritize --project physical
  echo "" && \
  echo "=== PROCESSING DIGITAL ===" && \
  tod list process --project digital && \
  echo "" && \
  echo "=== PROCESSING PHYSICAL ===" && \
  tod list process --project physical;
{% include "code-block-stop.html" %}

<p>Update Tod only if it is out of date</p> 

{% include "code-block-start.html" %}
tod config check-version || cargo install tod --force
{% include "code-block-stop.html" %}

{% endblock %}
